.left-pane {
	/* background: linear-gradient(45deg, #48c6ef 0%, #6f86d6 100%); */
	background-color: #396cf0!important;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-content {
	height: 80vh;
	max-height: 80vh;
	overflow-y: auto;
}

.nav {
	flex-direction: column;
	align-items: center;
}

.nav-tabs {
	border-bottom: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: inherit !important;
	background-color: inherit !important;
	border: none !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	border: none !important;
}

.nav-link {
	color: white !important;
	pointer-events: none;
}
